import os.path
from datetime import datetime, timedelta

from docker.types import Mount

from airflow import DAG
from airflow.decorators import task, dag
from airflow.operators.bash_operator import BashOperator
from airflow.operators.dummy_operator import DummyOperator

default_args = {
    'owner'                 : 'airflow',
    'description'           : 'DockerOperator {{ description }}',
    'depend_on_past'        : False,
    'start_date'            : datetime(2022,4, 22),
    'email_on_failure'      : False,
    'email_on_retry'        : False,
    'retries'               : 0,
    'retry_delay'           : timedelta(minutes=1),
    'mount_tmp_dir'         : False,
}

with DAG(dag_id='generated_docker_dag_{{ dag_id }}',
    default_args=default_args,
    schedule_interval="{{ schedule_interval }}",
    catchup={{ catchup or False }} ) as dag:

    @task
    def dummy():
        pass

    task_bash_date = BashOperator(
        task_id='task_date',
        bash_command='date',
        trigger_rule='one_success'
    )

    dummy() >> task_bash_date
